@page "/fetchdata"

@using MAUICosmosBlazorCRUD.Data
@using MAUICosmosBlazorCRUD.Models
@inject NavigationManager NavigationManager
@inject WeatherForecastService ForecastService

<h1>Estados</h1>

<p>Obtención de datos desde Cosmos.</p>

@if (estadosLista == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<button class="btn btn-primary" @onclick="AgregarEstado">Agregar Estado</button>

	<table class="table">
		<thead>
			<tr>
				<th>Clave</th>
				<th>Nombre</th>
				<th>Municipio</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var forecast in estadosLista)
			{
				<tr>
					<td>@forecast.Clave</td>
					<td>@forecast.Nombre</td>
					<td>
						@foreach (var mun in @forecast.Municipios)
						{
							<p>@mun.Nombre</p>
						}
					</td>
					<td>
						<a class="btn btn-secondary" href='/updEstado/@forecast.Id'>Actualizar</a> 
						<a class="btn btn-danger" href='/delEstado/@forecast.Id'>Eliminar</a> 
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	Services.DBCosmosService service;
	Models.Estados estados = null;
	Models.Municipios municipios = null;

	private List<Estados> estadosLista;

	protected override async Task OnInitializedAsync()
	{
		service = new Services.DBCosmosService();
		estadosLista = await service.GetAsync();
	}

	private void AgregarEstado()
	{
		NavigationManager.NavigateTo("/insertEdo");
	}
	
}
